body {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Orbitron', sans-serif;
}

#nava {
    z-index: 99;
    text-align: center;
    width: 100%;


}

.active a {
    font-size: 22px;
    text-decoration-line: line-through;
    text-decoration-color: orange;
    text-decoration-style: dotted;

}


ul {
    margin-top: -10%;
    list-style-type: none;
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 55px;
}

#shit {
    position: absolute;
    transition: all 0.7s;
    margin-top: 0vh;
}

li {
    display: inline-block;
}

li a {
    letter-spacing: 3PX;
    font-family: 'Orbitron', sans-serif;
    padding: 0 20px;
    text-decoration: none;
    overflow: hidden;
    color: #d1d1d1;
    font-size: 14px;
    transition: all 0.4s;
}

#a,
#b,
#c {
    border-right: 1px solid #ffa600;
}

#home {
    border-right: 1px solid orange;
}


.nav-item a, #wie h1  {

    color: lightgray;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient( to right,
    orange,
    orange 50%,
    lightgray 50%);
    background-size: 200% 100%;
    background-position: 100%;
}

.nav-item a:hover, #wie h1:hover  {
    transition: all 1.0s cubic-bezier(0.000, 0.000, 0.230, 1);
    background-position: 0%;
}

#toppic {
    z-index: -1;
    width: 100%;
    background-image: url('../img/nieue.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

#who,
#com,
#pro,
#conta {
    height: 100vh;
}


* {
    box-sizing: border-box;
}

/*----------------resposive--------------------*/
@media only screen and (max-width: 360px) {
body {
    overflow:inherit;
}
}

@media only screen and (min-width: 361px) and (max-width:574px) {
  body {
    overflow:inherit;
}
}

@media only screen and (min-width: 575px) and (max-width:767px) {
 body {
    overflow:inherit;
}
}

@media only screen and (min-width: 768px) and (max-width:1069px) {
body {
    overflow:inherit;
}
}

@media only screen and (min-width: 1070px) and (max-width:1200px) {
body {
    overflow: inherit;
}
 #wie {
    margin-top: -4%;
    padding-bottom: 6%;
    letter-spacing: 2px;
    line-height: 22px;
    margin-left: -13%;
    padding-left: 11%;
}
  #info {
    display: grid;
    grid-template-columns:  2fr 1fr 4fr ;
    padding-top: 30vh;
    width: 90%;
    margin-left: 5%
}
    #mij img{
    display: block;
    height: 50vh;
    z-index: 99;
}
}

@media only screen and (min-width: 1201px) and (max-width:1450px) {
body {
    overflow: hidden;
}
     #wie {
    margin-top: -4%;
    padding-bottom: 6%;
    letter-spacing: 2px;
    line-height: 22px;
    margin-left: -13%;
    padding-left: 11%;
}
    #info {
    display: grid;
    grid-template-columns:  4fr 1fr 4fr ;
    padding-top: 30vh;
    width: 80%;
    margin-left: 10%
}
    #mij img{
    display: block;
    height: 50vh;
    z-index: 99;
}
}

@media only screen and (min-width: 1451px)  {
 body {
    overflow: hidden;
} 
}


#wie h1 {
    font-size: 24px;
}

#wie {
    text-align: left;
    color: lightgray;
    border-left: 1px solid orange;
}


#mij {
    position: relative;
    height: 50vh;
}
.over {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(211, 211, 211, 0.40);
}

#mij:hover .over {
  opacity: 1;
}


.textx {
     letter-spacing: 4px;
   color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#griddd,
#gridd2 {
    width: 60%;
    margin-left: 20%;
}
#griddd{
    padding-top: 15vh; 
}

#gridd2 {
    padding-top: 5vh
}

#griddd h1,
#gridd2 h1 {
    text-align: center;
    color: orange;
    letter-spacing: 2px;
}

.logos a,
.logos2 a {
    display: inline-block;
    margin-bottom: 10%;
    margin-top: 10%;

}

.logos,
.logos2 {
    border-bottom: 1px solid orange;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.itemxm img {
    text-align: center;
    display: inline-block;
    height: 10vh;

}
.itemxm a{
    text-align: center;
    width: 100%;
}
.logos2 img {
    height: 9vh;
    margin-top: 5%;
    text-align: center;
}

#textsl {
    width: 50%;
    margin-left: 25%;
    color: lightgray;
    letter-spacing: 2px;
    line-height: 22px;
    text-align: center;
}

#textsr {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    color: lightgray;
    letter-spacing: 2px;
    line-height: 22px;
}

#progrid {
    width: 70%;
    margin-left: 15%;
    grid-gap: 100px;
    padding-top: 20vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#pro1 {
    position: relative;
    height: 30vh;
}

#pro1 img {
    display: block;
    width: 100%;
    height: 22vh;
}

#pro1 img:hover,
#pro2 img:hover{
    transition: all 1.0s;
}

.text {
    letter-spacing: 2px;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text h1 {
    letter-spacing: 2px;
    transition: all 0.5s;
    font-size: 16px;
    border: 3px solid white;
    padding: 10px 20px;
}

.text h1:hover {
    background-color: white;
    color: orange;
    border: 3px solid orange;
    font-weight: bold;
}

.overlay,
#overlayy
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 22vh;
    width: 100%;
    opacity: 0;
    transition: .8s ease;
    background-color: orange;
}

#overlayy {
    border-bottom-left-radius: 45%;
}

#pro1:hover .overlay,
#pro2:hover .overlay,
#pro1:hover #overlayy{
    opacity: 1;
    transition: all 1.2s;
}

.lyn {
    padding-top: 5%;
    width: 40%;
    border-bottom: 1px solid orange;
    margin-left: 30%
}

#pro2 img {
    width: 100%;
    height: 22vh;
}

#pro2 {
    height: 30vh;
}


#pro1 h5,
#pro2 h5 {
    line-height: 20px;
    text-align: center;
    color: lightgray;
    letter-spacing: 2px;
}

.lijn {
    padding: 10px 0px 10px 0px;
}

input #button {
    color: orange;
    font-size: 12px;
}

#cater h1 {
    color: orange;
}

#pics {
    margin-top: 50vh;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
}


#p {
    display: inline-block;
}

#nog1 {
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    position: relative;
    top: 30vh;
    display: grid;
    grid-template-columns: 2fr 3fr 0fr 3fr 2fr;
}

#supergrid {
    padding-left: 5%;
}

.super {
    text-align: left;
    margin-left: 10vw;
}



.f2 {
    transition: all 1.0s;
}

.f2 h5 {
    letter-spacing: 2px;
    color: orange;
}

.f2 h1 {
    color: orange;
    letter-spacing: 2px;
}

.f2 a {
    font-size: 22px;
    letter-spacing: 2px;
    color: lightgray;
    text-decoration: none;

}

#m p {
    color: lightgray;
    letter-spacing: 2px;
    font-size: 22px;
}

#s > a,
#m > a {
    position: relative;
    margin-bottom: 15px;
    display: inline-block;
    transition: all 1.5s;
    text-decoration-line: none;
}

#s > a:before,
#m > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: orange;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

#s > a:hover:before,
#m > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/*

#m a, #p a {

    color: lightgray;
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient( to right,
    orange,
    orange 50%,
    lightgray 50%);
    background-size: 200% 100%;
    background-position: 100%;
}

#m a:hover, #p a:hover {
    transition: all 0.7s cubic-bezier(0.000, 0.000, 0.230, 1);
    background-position: 0%;
}*/

footer h5 {
    margin-top: -5vh;
    text-align: center;
    color: orange;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
}



/* form starting stylings ------------------------------- */

.group {
    position: relative;
    margin-bottom: 45px;
}

#green input {
    font-size: 12px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid orange;
    color: orange;

}

#green h1 {
    letter-spacing: 2.5px;
}



#cont {
    letter-spacing: 1px;
    font-family: 'Orbitron', sans-serif;
}

input:focus {
    outline: none;
}

label {
    color: lightgray;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.3s ease all;

}

/* active state */

input:focus ~ label,
input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: orange;
}

/* BOTTOM BARS ================================= */

.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: orange;
    transition: 0.3s ease all;
}


.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */

input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */

input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.4s ease;
    -moz-animation: inputHighlighter 0.4s ease;
    animation: inputHighlighter 0.4s ease;
}

/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: orange;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: orange;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: orange;
    }
    to {
        width: 0;
        background: transparent;
    }
}
